/***** General style *****/
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

/***** SVG *****/

.selected {
  animation: flash-animation 0.8s ease-out infinite;
  animation-direction: alternate;
}

/***** Tooltip *****/
.d3-tip {
  line-height: 1;
  padding: 12px;
  border-radius: 2px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}

.d3-tip:after {
  display: inline;
  top: 100%;
  left: 0;
  width: 100%;
  margin: -1px 0 0 0;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
