

/***** Tooltip *****/
.d3-tip-v4 {
  line-height: -5;
  top: 50%;
  left: 100%;
  padding: 12px;
  border-radius: 6px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  text-align: left;
}

.d3-tip-v4:after {
  display: inline;
  top: 100%;
  left: 0;
  width: 100%;
  margin: -1px 0 0 0;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/****Hover rectangle****/
rect {
  fill-opacity: 0.7;
}

rect:hover {
  fill-opacity: 1;
}

/***** Toggle buttons *****/
.toggle-buttons {
  display: inline-table;
}

.toggle-buttons > button {
  flex: 1;
  line-height: 30px;
  color: #444;
  background-color: #fafafa;
  font-size: 11pt;
  border: 1px solid #999;
  border-right: none;
  outline: none;
  cursor: pointer;
}

.toggle-buttons > button:last-child {
  border-right: 1px solid #999;
}

.toggle-buttons > button.active {
  color: #009ee0;
  background-color: #bdebff;
  border: 2px solid #009ee0;

}
