/***** Tabs *****/
.tabs {
    width: 50%;
    border: 1px solid #666;
  }
  
  .tabs > .header {
    height: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 30px;
    border-bottom: 1px solid #666;
  }
  
  .tabs > .header > li {
    background-color: #e6e7e8;
    cursor: pointer;
  }
  
  .tabs > .header > li:not(:last-child) {
    border-right: 1px solid #666;
  }
  
  .tabs > .header > li.active {
    color: #fff;
    background-color: #4c7d95;
  }
  
  .tabs > .content > .tab {
    display: none;
    width: 100%;
    padding: 20px 10px 10px 10px;
    box-sizing: border-box;
  }
  
  .tabs > .content {
    text-align: center;
  }
  
  .tabs > .content > .tab.visible {
    display: block;
  }
  

/***** Tooltip *****/
.d3-tip {
  line-height: -5;
  top: 50%;
  left: 100%;
  width: 50%;
  padding: 12px;
  border-radius: 8px;
  color: #444;
  background: #fff;
  border: 1.5px solid #666;
  text-align: left;
}

.d3-tip:after {
  display: inline;
  top: 100%;
  left: 0;
  width: 100%;
  margin: -1px 0 0 0;
  box-sizing: border-box;
  font-size: 10px;
  line-height: 1;
  color: #999;
  content: "\25BC";
  position: absolute;
  text-align: center;
}