/***** Tabs *****/
.tabs {
    width: 50%;
    border: 1px solid #666;
  }
  
  .tabs > .header {
    height: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 30px;
    border-bottom: 1px solid #666;
  }
  
  .tabs > .header > li {
    background-color: #e6e7e8;
    cursor: pointer;
  }
  
  .tabs > .header > li:not(:last-child) {
    border-right: 1px solid #666;
  }
  
  .tabs > .header > li.active {
    color: #fff;
    background-color: #4c7d95;
  }
  
  .tabs > .content > .tab {
    display: none;
    width: 100%;
    padding: 20px 10px 10px 10px;
    box-sizing: border-box;
  }
  
  .tabs > .content {
    text-align: center;
  }
  
  .tabs > .content > .tab.visible {
    display: block;
  }
  